// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.line{
    display: flex;
    .line-label{
        width: 80px;
    }
    .line-value{
        flex-shrink: 100;
    }
}
