// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.line {
    display: flex;

    .line-label {
        width: 80px;
    }

    .line-value {
        flex-shrink: 100;
    }
}

.product_bottom {
    display: flex;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    flex-direction: row;
    height: 30px;
    line-height: 30px;

    .sold_count {
        padding-left: 5px;
        border-right: 1px solid #eee;
        flex: 1;

        span {
            color: #3fceff;

        }
    }

    .reviewed_count {
        padding-left: 5px;
        flex: 1;

        span {
            color: #efc7ff;
        }
    }
}
.star-box {
    border-style: none;
    margin: 0 auto;
    padding: 0;
    float: left;
    &:not(:checked) {
        & > input {
            position: absolute;
            top: -9999px;
            clip: rect(0,0,0,0);
        }
        & > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            line-height: 1.2;
            color: lightgrey;
            font-size: 150%;

            &:before {
                content: '★ ';
            }
        }
        & > label:hover, & > label:hover ~ label {
            color: gold;
        }
    }
    & > input:checked ~ label {
        color: gold;
    }
    & > label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }

    & > input:checked + label:hover, & > input:checked + label:hover ~ label, & > input:checked ~ label:hover, & > input:checked ~ label:hover ~ label, & > label:hover ~ input:checked ~ label {
        color: gold;
    }
}

.star-t{
    color: red;
    font-size: 150%;
}
.star-f{
    color: #eee;
    font-size: 150%;
}
